{% extends "base.html" %}

{% block content %}

  {% if query_contributor %}
    <h2>Articles by {{ query_contributor }}</h2>
  {% else %}
    <h2>All Articles</h2>

  {% endif %}

  {% if article_list %}
  <ul>

    {% for article in article_list %}

      <li>
        <div class="title"><p>{{ article.title }}</p></div>

        <button type="button" name="delete"><a href="{% url 'author-delete' article.pk %}">Remove</a></button>

        <div class="author">

          {% for contributor in article.contributors.all %}

            <p>

              <a href="{% url 'author-articles' contributor.given_name contributor.family_name %}">
                {{ contributor.given_name }}
                {{ contributor.family_name }}
              </a>

              {% if contributor.email != none %}
                (<a href="mailto:{{ article.email }}">{{ article.email }}</a>)
              {% endif %}

            </p>

          {% endfor %}

        </div>

        <div class="license">
          {% if article.license != none %}
            <p>License: <a href="{{ article.license }}">{{ article.license }}</a></p>
          {% endif %}
        </div>

        <div class="abstract">
          {% if article.abstract != none %}
            {{ article.abstract }}
          {% endif %}
        </div>

      </li>

    {% endfor %}

  </ul>

  {% else %}

  <p>No articles added yet. <a href="{% url 'index' %}">Look one up!</a></p>

  {% endif %}

  {% endblock %}

  <!-- https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Generic_views -->
