body {
  margin: auto;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  background-color: #F9F9F9;
  line-height: normal;
}


/* Headers */
h1, h2 {
  text-align: center;
}

h1 {
  padding: 20px;
}

h2 {
  padding: 10px;
}

/* Navigation */
nav {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

nav a, .lookup input {
  text-decoration: none;
  padding: 20px;
  border: none;
}

nav a:hover, .lookup input:hover {
  background-color: #aa93b5;
}

nav li {
  display: inline-block;
}


/* Container padding */
.container {
  margin: auto;
  width: 90%;
  max-width: 800px;
  padding: 20px 0 20px 0;
}

.container div {
  padding-bottom: 8px;
}

/* Lookup page */
a {
  color: black;
}

li label {
  display: none;
}

#id_doi, #id_doi:hover {
  font-family: 'Lora', serif;
  width: 100%;
  line-height: 24px;
  text-decoration: none;
  color: black;
  padding: 5px;
  margin-bottom: 10px;
  border: solid 1px black;
  background: none;
}

.helptext {
  line-height: 24px;
}

/* List page */
.title {
 font-weight: bold;
 display: inline-block;
 max-width: 80%;
}


li, .confirm-delete input {
  list-style: none;
  padding-bottom: 15px;
  padding-top: 15px;
}

li button {
  float: right;
}

.author {
  max-width: 80%;
}

.author p {
  display: inline-block;
  margin-right: 18px;
  text-decoration: none;
}

.author a{
  text-decoration: none;

}

.author p:hover {
  margin-left: 3px;
  margin-right: 15px;
  text-decoration: underline;
}

li button, .confirm-delete input {
  background-color: #A5AAA3;
  font-family: 'Lora', serif;
  border: none;
}

.confirm-delete input {
  border: none;
  background-color: #A5AAA3;
  margin: 30px;
}

button:hover, .confirm-delete input:hover {
  background-color: #FEA443;
}

button a, .confirm-delete input {
  text-decoration: none;
  color: black;
  padding: 10px;
  line-height: 40px;
}
